@import 'node_modules/bootstrap/scss/bootstrap';

.landing-background-image {
  background-image: url(/assets/img/greece.jpg);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  height: calc(100vh/3);
  min-height: 200px;
  max-height: 500px;
  max-width: 1440px;
}